body {
    background: hsl(216, 12%, 8%);
}

.container {
    margin: auto;
    margin-top: 150px;
}

.card {
    background: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 20px;
}

.star {
    background: hsl(210, 20%, 20%);
    border-radius: 50%;
    padding: 10px;
}

h2 {
    color: white;
    font-family: "Overpass-Bold", sans-serif;
    font-size: 1.5rem;
}

p {
    color: gray;
    font-family: "Overpass-Regular", sans-serif;
    font-size: 0.8rem;
}

.btn {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

button {
    border: none;
}

.ratings-btn {
    background: hsl(217, 14%, 26%);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    font-family: "Overpass-Regular", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    height: 38px;
    transition: 0.2s;
    width: 20%;
}

.ratings-btn:hover {
    background: hsl(25, 97%, 53%);
    color: black;
}

.ratings-btn.active {
    background: white;
    color: black;
}

.ratings-btn:active {
    background: white;
    color: black;
}

.submit-btn {
    background: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-family: "Overpass-Regular", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    height: 40px;
    letter-spacing: 0.1rem;
    margin-top: 25px;
    width: 100%;
}

.submit-btn:hover {
    background: white;
}

.thank-you-card {
    text-align: center;
}

.ill {
    width: 55%;
}

.selected-text {
    background: hsl(217, 14%, 26%);
    border-radius: 15px;
    width: 60%;
    color: hsl(25, 97%, 53%);
    margin: 10px 0px 0px 50px;
    padding: 5px;
}

.hidden {
    display: none;
}

@media (min-width: 23.43em) {
    .container {
        width: 85%;
    }
}

@media (min-width: 26.56em) {
    .container {
        width: 73%;
    }
}

@media (min-width: 48em) {
    .container {
        width: 45%;
    }

    .ratings-btn {
        width: 15%;
    }
}

@media (min-width: 64em) {
    .container {
        width: 33%;
    }
}

@media (min-width: 90em) {
    .container {
        width: 23%;
    }
}

@font-face {
    font-family: "Overpass-Bold";
    src: url("./fonts/static/Overpass-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Overpass-Regular";
    src: url("./fonts/static/Overpass-Regular.ttf") format("truetype");
}
